#station-names, .station-inputs {
    align-items: center;
}

.station-name {
    width: calc(var(--connection-width) - 2rem);
    text-align: center;
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1rem;
}

.station-name:first-child {
    margin: 0 auto 0 0;
    padding: 0;
    width: calc(var(--connection-width) / 2);
    text-align: left;
}

.station-name:last-child {
    margin: 0 0 0 auto;
    padding: 0;
    width: calc(var(--connection-width) / 2);
    text-align: right;
}

#journeys {
    overflow-x: scroll;
}

.connections-container {
    align-items: start;
}

.connection {
    align-items: stretch;
    min-height: 3.5rem;
    width: var(--connection-width);
    flex-shrink: 0;
}

.connection .time {
    text-align: center;
}

.time {
    font-variant-numeric: tabular-nums;
    align-self: center;
    width: 4rem;
    margin: auto;
    flex-shrink: 0;
}

.on-time {
    color: var(--accent-green);
}

.delayed {
    color: var(--accent-red);
}

.warning {
    color: var(--accent-yellow);
}

.info {
    color: var(--accent-blue);
}

.connection-line-container {
    margin: auto .3rem;
}

.connection-line-color {
    background-color: var(--product-color);
}

.connection-line {
    display: block;
    animation: grow-connection-line .5s ease-in-out 0s normal both;
    margin: auto;
    background-color: var(--product-color);
}

@keyframes grow-connection-line {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.connection-line--horizontal {
    align-self: center;
    margin: auto;
    animation: grow-connection-line--horizontal .5s ease-in-out 0s normal both;
}

@keyframes grow-connection-line--horizontal {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

.modal__trip--suburban, .connection-line--suburban {
    --product-color: var(--suburban-color)
}


.modal__trip--subway, .connection-line--subway {
    --product-color: var(--underground-color)
}

.modal__trip--tram, .connection-line--tram {
    --product-color: var(--tram-color)
}

.modal__trip--bus, .connection-line--bus {
    --product-color: var(--bus-color)
}

.modal__trip--ferry, .connection-line--ferry {
    --product-color: var(--ferry-color)
}

.modal__trip--taxi, .connection-line--taxi {
    --product-color: var(--taxi-color)
}

.modal__trip--regional, .connection-line--regional {
    --product-color: var(--regional-color)
}

.modal__trip--regionalExpress, .connection-line--regionalExpress {
    --product-color: var(--regional-express-color)
}

.modal__trip--national, .connection-line--national {
    --product-color: var(--national-color)
}

.modal__trip--nationalExpress, .connection-line--nationalExpress {
    --product-color: var(--national-express-color)
}

.connection-line--walk {
    background-color: transparent;
    /*border: var(--foreground-color) solid var(--line-width--small);*/
    box-shadow: var(--foreground-color) 0 0 0 var(--line-width--small);
    border-radius: var(--border-radius-medium);
}

.connection-line--transfer {
    animation: none;
    height: 4px;
}

.station-circle--small {
    border-radius: var(--border-radius-medium);
    background-color: var(--background-color);
    height: var(--line-width);
    width: var(--line-width);
    box-shadow: var(--background-color) 0 0 0 1px, var(--product-color) 0 0 0 var(--line-width);
    margin: 0 1.25rem;
    flex-shrink: 0;
}

.station-circle--big {
    border-radius: var(--border-radius-medium);
    background-color: var(--product-color);
    height: var(--line-width);
    width: var(--line-width);
    box-shadow: var(--background-color) 0 0 0 var(--line-width--small), var(--product-color) 0 0 0 var(--border-radius-medium);
    flex-shrink: 0;
    position: relative;
}

.connection-line-selectable {
    height: unset;
    padding: 0 .5rem;
    width: calc(var(--connection-width) - 8rem);
}

.connection-line-selectable button {
    height: 100%;
    padding: 0;
}

.connection-line-selectable * {
    width: 100%;
}

.connection-line-name {
    position: relative;
}

.modal__connection-duration {
    text-align: right;
    margin-left: auto;
}

.modal__trip, .modal__walk {
    margin-left: -.3rem;
}

.modal__trip:not(.modal__walk) {
    min-height: 15rem;
}

.modal__trip__ltl {
    width: 3.5rem;
    text-align: right;
    flex-shrink: 0;
}

.modal__trip__rtl {
    width: 100%;
    word-wrap: anywhere;
}

.modal__departure-container, .modal__arrival-container {
    margin-right: auto;
}

.modal__trip__l {
    padding: calc(1.75rem - var(--border-radius-small)) 1.25rem;
}

.modal__walk__l {
    padding: 0 1.25rem;
}

.modal__trip__element__first-last-child {
    height: 3.5rem;
    align-items: center;
}

.modal__trip__element__first-last-child > * {
    width: 100%;
}

.platform {
    margin-left: auto;
    padding-left: .5rem;
    align-self: center;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
}

.modal__trip__element__middle-child {
    margin: auto 0;
    align-items: center;
}

.modal__line-info {
    width: fit-content;
    margin-left: calc(-.5rem - var(--line-width));
}

.modal__line-info__text {
    padding: .5rem;
    text-align: left;
    white-space: unset;
}

[data-stopovers="false"].modal__line-stopovers {
    display: none;
}

.stopover {
    align-items: center;
    margin: 0 auto 0 calc(-7rem + 4px);
}

.stopover .time {
    margin: 0;
    text-align: right;
}

.stopover__middle {
    margin: auto auto auto 0;
}

.modal__trip-info:first-child {
    margin-top: 0;
}

.modal__trip-info:last-child {
    margin-bottom: 0;
}

.modal__trip-infos-buttons {
    margin-left: auto;
    width: fit-content;
}

.modal__trip-infos-container {
    text-align: right;
}

[data-statuses="false"] .modal__trip-statuses {
    display: none;
}

[data-warnings="false"] .modal__trip-warnings {
    display: none;
}

[data-static-infos="false"] .modal__trip-static-infos {
    display: none;
}

[data-hints="false"] .modal__trip-hints {
    display: none;
}

.setting {
    width: 100%;
    align-items: center;
}

.setting__name {
    width: 25%;
}

.setting__name {
    padding-right: 2rem;
}

@media screen and (max-width: 1000px) {
    .connection-line-name {
        display: none;
    }
    :root {
        --connection-width: 15rem;
    }

    .modal__trip-infos-buttons {
        margin-left: 0;
    }
    .modal__trip-infos-container {
        text-align: left;
    }

    .setting__name {
        padding: 1rem 0 .5rem;
        width: inherit;
    }
}
