#content {
    --zoom: 10;
}

#diagram-actions {
    margin-top: 1rem;
    justify-content: center;
    .plus-maker {
        opacity: calc((10 - var(--zoom)) * 2.5);
    }
}

.loading #diagram-actions, [data-vias=""] #diagram-actions {
    visibility: hidden;
}

#diagram {
    margin: 0 auto 5rem;
    padding: .5rem;
    font-size: calc(var(--zoom) / 10 * 1em);
    transition: font-size ease-in-out .5s;
    background-color: var(--background-color);
}

.connections-container {
    align-items: start;
}

.connection {
    align-items: stretch;
    min-height: 3em;
    width: var(--connection-width);
    flex-shrink: 0;
}

.connection .time {
    text-align: center;
}

.time {
    font-variant-numeric: tabular-nums;
    align-self: center;
    width: 3em;
    margin: auto;
    flex-shrink: 0;
}

.on-time {
    color: var(--accent-green);
}

.cancelled {
    color: var(--accent-red);
    text-decoration: line-through;
}

.delayed {
    color: var(--accent-red);
}

.warning {
    color: var(--accent-yellow);
}

.info {
    color: var(--accent-blue);
}

.connection-line-container {
    margin: auto .2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.connection-line-color {
    background-color: var(--product-color);
}

.connection-line {
    display: block;
    margin: auto;
    background-color: var(--product-color);
}

#diagram .connection-line {
    animation: grow-connection-line .5s ease-in-out 0s normal both;
}

@keyframes grow-connection-line {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.connection-line--horizontal {
    align-self: center;
    margin: auto;
    animation: grow-connection-line--horizontal .5s ease-in-out 0s normal both;
}

@keyframes grow-connection-line--horizontal {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

.modal__trip--suburban, .connection-line--suburban {
    --product-color: var(--suburban-color)
}


.modal__trip--subway, .connection-line--subway {
    --product-color: var(--subway-color)
}

.modal__trip--tram, .connection-line--tram {
    --product-color: var(--tram-color)
}

.modal__trip--bus, .connection-line--bus {
    --product-color: var(--bus-color)
}

.modal__trip--ferry, .connection-line--ferry {
    --product-color: var(--ferry-color)
}

.modal__trip--taxi, .connection-line--taxi {
    --product-color: var(--taxi-color)
}

.modal__trip--regional, .connection-line--regional {
    --product-color: var(--regional-color)
}

.modal__trip--regionalExpress, .connection-line--regionalExpress {
    --product-color: var(--regionalExpress-color)
}

.modal__trip--national, .connection-line--national {
    --product-color: var(--national-color)
}

.modal__trip--nationalExpress, .connection-line--nationalExpress {
    --product-color: var(--nationalExpress-color)
}

.stroke--product {
    stroke: var(--product-color);
}

.connection-line--walk {
    background-color: transparent;
    /*border: var(--foreground-color) solid var(--line-width--small);*/
    box-shadow: var(--foreground-color) 0 0 0 var(--line-width--small);
    border-radius: var(--border-radius-medium);
}

.connection-line--transfer {
    animation: none;
    height: 4px;
}

.station-circle--small {
    border-radius: var(--border-radius-medium);
    background-color: var(--background-color);
    height: var(--line-width);
    width: var(--line-width);
    box-shadow: var(--background-color) 0 0 0 1px, var(--product-color) 0 0 0 var(--line-width);
    flex-shrink: 0;
    position: relative;
}
#map .station-circle--small {
    background-color: white;
    box-shadow: #ffffff 0 0 0 3px, var(--product-color) 0 0 0 12px;
}

.stopover .station-circle--small {
    margin: 0 1.25rem;
}

.station-circle--big {
    border-radius: var(--border-radius-medium);
    background-color: var(--product-color);
    height: var(--line-width);
    width: var(--line-width);
    box-shadow: var(--background-color) 0 0 0 var(--line-width--small), var(--product-color) 0 0 0 var(--border-radius-medium);
    flex-shrink: 0;
    position: relative;
}

.connection-line-selectable {
    height: unset;
    width: calc(var(--connection-width) - 6em);
}

.connection-line-selectable button {
    height: 100%;
    padding: 0;
}

.connection-line-selectable * {
    width: 100%;
}

.modal__connection-duration {
    text-align: right;
    margin-left: auto;
}

.modal__trip, .modal__walk {

}

.duration, .transfer-time {
    display: block;
    width: 0;
    margin-left: auto;
    direction: rtl;
}

.width-setter {
    height: 0;
    opacity: 0;
}

.modal__trip__ltl {
    text-align: right;
    flex-shrink: 0;
    direction: rtl;
}

.modal__trip__rtl {
    width: 100%;
    word-wrap: anywhere;
}

.modal__departure-container, .modal__arrival-container {
    margin-right: auto;
}

.modal__trip__l {
    padding: 1.75rem 1rem;
    .station-icon {
        margin: -8px 0;
        z-index: 1;
    }
}

.modal__walk__l {
    padding: 0 calc(1rem + 6px);
}

.modal__location {
    margin-right: auto;
    .time {
        width: auto;
        margin: 0;
    }
    .modal__trip__l {
        margin: auto 0;
    }
    .mini-icon-container {
        margin: -8px 0;
    }
}

.modal__trip__element__first-last-child {
    height: 3.5rem;
    align-items: center;
    gap: .5rem;
}

.modal__trip__element__first-last-child > * {
    width: 100%;
}

.platform {
    margin-left: auto;
    padding-left: 1rem;
    align-self: center;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
}

.modal__trip__element__middle-child {
    margin: auto 0;
    gap: .5rem;
}

.modal__line-info {
    width: fit-content;
    margin-left: calc(-.5rem - var(--line-width));
}

.modal__line-info__text {
    padding: .5rem;
    text-align: left;
    white-space: unset;
}

[data-stopovers="false"].modal__line-stopovers {
    display: none;
}

.stopover {
    align-items: center;
    margin: 0 auto 0 calc(-3em - 2rem - 16px);
    .station-icon {
        margin: 0 1rem;
        flex-shrink: 0;
    }
    .time {
        margin: 0;
        text-align: right;
    }
}

.stopover__middle {
    margin: auto auto auto 0;
}

.modal__trip-info:first-child {
    margin-top: 0;
}

.modal__trip-info:last-child {
    margin-bottom: 0;
}

.modal__trip-infos-buttons {
    gap: .5rem;
    & button {
        display: flex;
        padding: .7rem;
    }
}

[data-statuses="false"] .modal__trip-statuses {
    display: none;
}

[data-warnings="false"] .modal__trip-warnings {
    display: none;
}

[data-static-infos="false"] .modal__trip-static-infos {
    display: none;
}

[data-hints="false"] .modal__trip-hints {
    display: none;
}

/*#settings .header {
    margin-top: 1rem;
}*/

.setting {
    width: 100%;
    align-items: center;
}

.setting__name {
    width: 25%;
}

.setting__name {
    padding-right: 2rem;
}

#connection-subpage {
    overflow-y: scroll;
    box-sizing: border-box;
}

#connection-leaflet-subpage {
    overflow-y: auto;
    grid-template-columns: 30rem 1fr;
}

@media screen and (min-width: 1001px) {
    #inputs {
        margin-top: 5rem;
    }

    #diagram {
        margin-bottom: 0;
    }

    #connection-subpage {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1000px) {
    #diagram-actions__zoom-button {
        margin-right: auto;
    }

    #connection-leaflet-subpage {
        grid-template-columns: 100%;
    }

    #connection-subpage {
        overflow-y: unset;
    }

    [data-state="journey"] {
        #leaflet-subpage {
            display: none;
        }
    }

    [data-state="journey/map"] {
        #connection-subpage {
            display: none;
        }
    }

    :root:not([data-vias="0"]) .connection-line-name {
        display: none;
    }
    :root:not([data-vias="0"]) {
        --connection-width: 12em;
    }

    [data-vias="0"] {
        --connection-width: calc(100vw - 2rem);
    }

    .setting__name {
        padding: 1rem 0 .5rem;
        width: inherit;
    }
}

@media screen and (min-width: 35rem) {
    [data-vias=""] body, [data-vias="0"] body {
        overflow-x: hidden;
    }
}

@media screen and (min-width: 65rem) {
    [data-vias="1"] body {
        overflow-x: hidden;
    }
}

@media screen and (min-width: 95rem) {
    [data-vias="2"] body {
        overflow-x: hidden;
    }
}

@media screen and (min-width: 125rem) {
    [data-vias="3"] body {
        overflow-x: hidden;
    }
}
