[lang="de"] .en {
    display: none;
}

[lang="en"] .de {
    display: none;
}

[data-color="red"] {
    --accent-light: #cb1a29;
    --accent-dark: #eb6c68;
}

[data-color="yellow"] {
    --accent-light: #e19d00;
    --accent-dark: #ffd52a;
}

[data-color="green"] {
    --accent-light: #0e7667;
    --accent-dark: #27f4e2;
}

[data-color="blue"] {
    --accent-light: #0e6aba;
    --accent-dark: #54bef6;
}

[data-color="purple"] {
    --accent-light: #654199;
    --accent-dark: #ba9cd4;
}

[data-color="gray"] {
    --accent-light: #586579;
    --accent-dark: #adbbc5;
}

:root {
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Variable", "Segoe UI Variable Text", "Segoe UI", "Oxygen", "Ubuntu", "Noto Sans", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Symbola";
    --background-color: #ffffff;
    --foreground-color: #000000;
    --background-color--opaque: #ffffffe0;
    --foreground-color--opaque: #00000020;
    --product-color: var(--foreground-color);
    --accent-color: var(--accent-light);
    --accent-inverted: var(--accent-dark);
    --accent-red: #cb1a29;
    --accent-yellow: #e19d00;
    --accent-green: #0e7667;
    --accent-blue: #0e6aba;
    --accent-purple: #654199;
    --accent-gray: #586579;

    --suburban-color: #408335;
    --subway-color: #1455C0;
    --tram-color: #A9455D;
    --bus-color: #814997;
    --ferry-color: #309FD1;
    --taxi-color: #FFD800;
    --regional-color: #EC0016;
    --regionalExpress-color: #F39200;
    --national-color: #646973;
    --nationalExpress-color: var(--foreground-color);

    --border-radius-large: .5rem;
    --border-radius-small: 2px;
    --border-radius-medium: 6px;
    --line-width: 4px;
    --line-width--small: 3px;
    --line-length: 2rem;
    --line-length--vertical: 1.5rem;
    --connection-width: 24em;

    --blur: blur(1px);
    --map-filter: none;
    --border: var(--line-width) solid var(--foreground-color--opaque);
}

[data-theme="dark"] {
    color-scheme: dark;
    --background-color: #121212;
    --foreground-color: #ffffff;
    --background-color--opaque: #121212e0;
    --foreground-color--opaque: #ffffff14;
    --accent-color: var(--accent-dark);
    --accent-inverted: var(--accent-light);
    --accent-red: #eb6c68;
    --accent-yellow: #ffd52a;
    --accent-green: #27f4e2;
    --accent-blue: #54bef6;
    --accent-purple: #ba9cd4;
    --accent-gray: #adbbc5;

    --suburban-color: #66A558;
    --subway-color: #347DE0;
    --tram-color: #C0687B;
    --bus-color: #9A6CA6;
    --ferry-color: #55B9E6;
    --taxi-color: #FFF000;
    --regional-color: #F75056;
    --regionalExpress-color: #F8AB37;
    --national-color: #878C96;

    --map-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

* {
    scrollbar-width: thin;
}

html, body {
    overscroll-behavior-y: contain;
}

body {
    font-size: 1.25rem;
    min-height: calc(100vh - (100vh - 100%));
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    overflow-x: scroll;
}

section {
    margin: .5rem 0;
}

#content {

}


body, input, button, .tooltip:after {
    font-family: var(--font-family);
    font-size: 1.25rem;
    color: var(--foreground-color);
    background-color: var(--background-color);
}

input, button, .tooltip:after {
    font-size: 1em;
}

body, a, input, button, .modal, .modal header, .hoverable, footer {
    transition: background .5s ease-in-out, border .5s ease-in-out;
}

html:not([data-state=""]), :not([data-state=""]) body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

input, button {
    background-color: transparent;
    border: none;
}

a {
    color: var(--foreground-color);
}

.loading {
    cursor: progress;
}

h1, h2 {
    text-align: center;
}

strong, h1, h2, .header {
    font-weight: 600;
}

p {
    margin: .5rem 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row-column {
    display: flex;
}

.flex-row-column > * {
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.padded-top-bottom {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.show-whitespace {
    white-space: pre;
}

.align-center {
    align-self: center;
}

.align-bottom {
    align-self: end;
    margin-top: auto;
}

.content-wrapper {
    margin: 0 auto auto;
    width: 60rem;
}

.line--accent {
    background-color: var(--accent-color);
    transition: background-color .5s ease-in-out;
    border-radius: var(--border-radius-small);
}

.line--regular {
    background-color: var(--foreground-color);
    transition: background-color .5s ease-in-out;
    border-radius: var(--border-radius-small);
    width: 100%;
    height: var(--line-width);
}

.line--vertical {
    background-color: var(--foreground-color);
    transition: background-color .5s ease-in-out;
    border-radius: var(--border-radius-small);
    height: 100%;
    width: var(--line-width);
    max-width: var(--line-width);
}

.line--success {
    background-color: var(--accent-green);
}

.line--neutral {
    background-color: var(--foreground-color);
}

.line--warning {
    background-color: var(--accent-yellow);
}

.line--error {
    background-color: var(--accent-red);
}

.hoverable {
    cursor: pointer;
    border-radius: var(--border-radius-large);
    border: var(--line-width) solid transparent;
}

.hoverable:hover {
    border: var(--line-width) solid var(--foreground-color--opaque);
    background-color: var(--foreground-color--opaque);
}

.selectable--horizontal {
    height: 100%;
}

.selectable__text {
    display: flex;
    padding: .5rem 1rem;
    white-space: nowrap;
    justify-content: center;
}

.selectable--horizontal .line--accent {
    margin: calc(-1 * var(--line-width)) auto 0;
    height: var(--line-width);
    width: 0;
    transition: width .2s ease-in-out, background-color .5s ease-in-out;
}

.selectable--horizontal--active .line--accent {
    width: var(--line-length);
}

.tab-row__tab {
    padding: .5rem 0;
    text-align: center;
    width: 100%;
}

.background-transition--horizontal {
    height: 1.5rem;
    background-image: linear-gradient(var(--background-color--opaque), transparent);
}

.background-transition--vertical {
    width: 1.5rem;
    background-image: linear-gradient(to right, var(--background-color--opaque), transparent);
    margin-right: -1.5rem;
}

#load-indicator {
    display: none;
    position: sticky;
    top: .5rem;
    height: var(--line-width);
    margin-top: calc(-1 * var(--line-width));
    animation: load-indication .7s ease-in-out 0s infinite alternate, load-indication--margin-right .7s ease-in-out 0s infinite alternate;
    z-index: 1005;
}

.loading #load-indicator {
    display: block;
}

@keyframes load-indication {
    0% {
        margin-left: calc(50% - 10rem);
        margin-right: calc(50% + 8rem);
    }
    25% {
        margin-left: calc(50% - 10rem);
    }
    75% {
        margin-right: calc(50% - 10rem);
    }
    100% {
        margin-left: calc(50% + 8rem);
        margin-right: calc(50% - 10rem);
    }
}

.indicator-line-container {
    position: relative;
    top: calc(-1 * var(--line-width));
    height: var(--line-width);
    margin-bottom: calc(-1 * var(--line-width));
}

.indicator {
    margin-left: calc(var(--animation--tab-indicator__end) - 1rem);
    margin-right: calc(100% - var(--animation--tab-indicator__end) - 1rem);
    height: 100%;
    animation-fill-mode: both;
}

.indicator__animation-to-right {
    animation: indicator--to-right .5s ease-in-out 0s alternate both;
}

.indicator__animation-to-left {
    animation: indicator--to-left .5s ease-in-out 0s alternate both;
}

@keyframes indicator--to-right {
    0% {
        margin-left: calc(var(--animation--tab-indicator__start) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__start) - 1rem);
    }
    25% {
        margin-left: calc(var(--animation--tab-indicator__start) - 1rem);
    }
    75% {
        margin-right: calc(100% - var(--animation--tab-indicator__end) - 1rem);
    }
    100% {
        margin-left: calc(var(--animation--tab-indicator__end) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__end) - 1rem);
    }
}

@keyframes indicator--to-left {
    0% {
        margin-left: calc(var(--animation--tab-indicator__start) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__start) - 1rem);
    }
    25% {
        margin-right: calc(100% - var(--animation--tab-indicator__start) - 1rem);
    }
    75% {
        margin-left: calc(var(--animation--tab-indicator__end) - 1rem);
    }
    100% {
        margin-left: calc(var(--animation--tab-indicator__end) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__end) - 1rem);
    }
}

#toasts {
    width: 30rem;
    position: fixed;
    z-index: 1001;
    left: calc(50% - 15rem);
    bottom: calc(4.5rem + max(.5rem, env(safe-area-inset-bottom)));
}

.toast {
    margin: 1rem auto;
    max-width: calc(100vw - 2rem);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    animation: toast__fadein-animation .2s ease-out, toast__fadeout-animation .5s ease-in-out 2.5s both;
}

.toast__text {
    padding: .5rem;
    border: var(--line-width) solid var(--foreground-color--opaque);
    background-color: var(--background-color--opaque);
    border-radius: var(--border-radius-large);
    text-align: center;
}

.toast__line {
    width: calc(100% - 2 * var(--line-width));
    height: var(--line-width);
    margin: calc(-1 * var(--line-width)) auto 0;
    animation: toast__line-animation 3s ease-out 0s;
}

@keyframes toast__line-animation {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes toast__fadein-animation {
    0% {
        margin: 0 auto -2rem;
        opacity: 0;
    }
    100% {
        margin: 1rem auto;
        opacity: 1;
    }
}

@keyframes toast__fadeout-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.icon-button--large {
    display: flex;
    padding: .5rem;
}

.mini-icon-container > * {
    display: none;
}
.mini-icon-container--station .mini-icon--station {
    display: block;
}
.mini-icon-container--poi .mini-icon--poi {
    display: block;
}
.mini-icon-container--address .mini-icon--address {
    display: block;
}
.mini-icon-container--undefined .mini-icon--undefined {
    display: block;
}

.mini-icon-overlay {
    margin-left: -16px;
}

.preload {
    body, a, input, button, .modal, .modal header, .hoverable, footer {
        transition: background 0s, border 0s;
    }
}

@media screen and (min-width: 1701px) {
    .small-only {
        display: none;
    }
}

@media screen and (max-width: 1700px) {
    :root {
        font-size: .8rem;
    }

    body {
        font-size: 16px;
    }

    .wide-only {
        display: none;
    }
}

@media screen and (min-width: 1001px) {
    .mobile-only {
        display: none;
    }

    #toasts {
        bottom: 0;
    }
}

@media screen and (max-width: 1000px) {
    .flex-row-column {
        flex-direction: column;
    }

    .desktop-only {
        display: none;
    }
}

