[lang="de"] .en {
    display: none;
}

[lang="en"] .de {
    display: none;
}

[data-color="red"] {
    --accent-light: #cb1a29;
    --accent-dark: #eb6c68;
}

[data-color="yellow"] {
    --accent-light: #e19d00;
    --accent-dark: #ffd52a;
}

[data-color="green"] {
    --accent-light: #0e7667;
    --accent-dark: #27f4e2;
}

[data-color="blue"] {
    --accent-light: #0e6aba;
    --accent-dark: #54bef6;
}

[data-color="purple"] {
    --accent-light: #654199;
    --accent-dark: #ba9cd4;
}

[data-color="gray"] {
    --accent-light: #586579;
    --accent-dark: #adbbc5;
}

[data-blur="true"] {
    --blur: blur(1px);
}

[data-blur="false"] {
    --blur: none;
}

:root {
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Variable", "Segoe UI Variable Text", "Segoe UI", "Oxygen", "Ubuntu", "Noto Sans", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Symbola";
    --background-color: #ffffff;
    --foreground-color: #000000;
    --background-color--opaque: #ffffffe0;
    --foreground-color--opaque: #00000020;
    --product-color: var(--foreground-color);
    --accent-color: var(--accent-light);
    --accent-inverted: var(--accent-dark);
    --accent-red: #cb1a29;
    --accent-yellow: #e19d00;
    --accent-green: #0e7667;
    --accent-blue: #0e6aba;
    --accent-purple: #654199;
    --accent-gray: #586579;

    --suburban-color: #408335;
    --subway-color: #1455C0;
    --tram-color: #A9455D;
    --bus-color: #814997;
    --ferry-color: #309FD1;
    --taxi-color: #FFD800;
    --regional-color: #EC0016;
    --regionalExpress-color: #F39200;
    --national-color: #646973;
    --nationalExpress-color: var(--foreground-color);

    --border-radius-large: .5rem;
    --border-radius-small: 2px;
    --border-radius-medium: 6px;
    --line-width: 4px;
    --line-width--small: 3px;
    --line-length: 2rem;
    --line-length--vertical: 1.5rem;
    --connection-width: 30rem;

    --map-filter: none;
}

[data-theme="dark"] {
    color-scheme: dark;
    --background-color: #121212;
    --foreground-color: #ffffff;
    --background-color--opaque: #121212e0;
    --foreground-color--opaque: #ffffff14;
    --accent-color: var(--accent-dark);
    --accent-inverted: var(--accent-light);
    --accent-red: #eb6c68;
    --accent-yellow: #ffd52a;
    --accent-green: #27f4e2;
    --accent-blue: #54bef6;
    --accent-purple: #ba9cd4;
    --accent-gray: #adbbc5;

    --suburban-color: #66A558;
    --subway-color: #347DE0;
    --tram-color: #C0687B;
    --bus-color: #9A6CA6;
    --ferry-color: #55B9E6;
    --taxi-color: #FFF000;
    --regional-color: #F75056;
    --regionalExpress-color: #F8AB37;
    --national-color: #878C96;

    --map-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

* {
    scrollbar-width: thin;
}

body {
    min-height: calc(100vh - (100vh - 100%));
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        width: 1rem;
    }
    &::-webkit-scrollbar-track {
        background: orange;        /* color of the tracking area */
    }
}

section {
    margin: initial 1rem;
}

#content {

}


body, input, button, .tooltip:after {
    font-family: var(--font-family);
    font-size: 1.25rem;
    color: var(--foreground-color);
    background-color: var(--background-color);
}
/*
body {
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/
body, a, input, button, .modal *, .hoverable, footer, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    transition: background .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
}

html:not([data-state=""]), :not([data-state=""]) body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

input, button {
    background-color: transparent;
    border: none;
}

a {
    color: var(--foreground-color);
}

.loading {
    cursor: progress;
}

h1, h2 {
    text-align: center;
}

strong, h1, h2, .header {
    font-weight: 600;
}

p {
    margin: .5rem 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row-column {
    display: flex;
}

.flex-row-column > * {
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.padded-top-bottom {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.show-whitespace {
    white-space: pre;
}

.align-center {
    align-self: center;
}

.align-bottom {
    align-self: end;
    margin-top: auto;
}

.content-wrapper {
    margin: 0 auto;
    width: 60rem;
}

.line--accent {
    background-color: var(--accent-color);
    transition: background-color .5s ease-in-out;
    border-radius: var(--border-radius-small);
}

.line--regular {
    background-color: var(--foreground-color);
    transition: background-color .5s ease-in-out;
    border-radius: var(--border-radius-small);
    width: 100%;
    height: var(--line-width);
}

.line--vertical {
    background-color: var(--foreground-color);
    transition: background-color .5s ease-in-out;
    border-radius: var(--border-radius-small);
    height: 100%;
    width: var(--line-width);
    max-width: var(--line-width);
}

.line--success {
    background-color: var(--accent-green);
}

.line--neutral {
    background-color: var(--foreground-color);
}

.line--warning {
    background-color: var(--accent-yellow);
}

.line--error {
    background-color: var(--accent-red);
}

.hoverable {
    cursor: pointer;
    border-radius: var(--border-radius-large);
    border: var(--line-width) solid transparent;
    transition: border .5s ease-in-out, background-color .5s ease-in-out, color .5s ease-in-out;
}

.hoverable:hover {
    border: var(--line-width) solid var(--foreground-color--opaque);
    background-color: var(--foreground-color--opaque);
}

.selectable--horizontal {
    height: 100%;
}

.selectable__text {
    padding: .5rem 1rem;
    white-space: nowrap;
}

.selectable--horizontal .line--accent {
    margin: calc(-1 * var(--line-width)) auto 0;
    height: var(--line-width);
    width: 0;
    transition: width .2s ease-in-out, background-color .5s ease-in-out;
}

.selectable--horizontal--active .line--accent {
    width: var(--line-length);
}

.tab-row__tab {
    padding: .5rem 0;
    text-align: center;
    width: 100%;
}

.background-transtion--vertical {
    height: 1.5rem;
    background-image: linear-gradient(var(--background-color--opaque), transparent);
}

#load-indicator {
    display: none;
    position: sticky;
    top: .5rem;
    height: var(--line-width);
    margin-top: calc(-1 * var(--line-width));
    animation: load-indication .7s ease-in-out 0s infinite alternate, load-indication--margin-right .7s ease-in-out 0s infinite alternate;
    z-index: 1005;
}

.loading #load-indicator {
    display: block;
}

@keyframes load-indication {
    0% {
        margin-left: calc(50% - 10rem);
        margin-right: calc(50% + 8rem);
    }
    25% {
        margin-left: calc(50% - 10rem);
    }
    75% {
        margin-right: calc(50% - 10rem);
    }
    100% {
        margin-left: calc(50% + 8rem);
        margin-right: calc(50% - 10rem);
    }
}

.indicator-line-container {
    position: relative;
    top: calc(-1 * var(--line-width));
    height: var(--line-width);
}

.indicator {
    height: 100%;
    animation-fill-mode: both;
}

.indicator__animation-to-right {
    animation: indicator--to-right .5s ease-in-out 0s alternate both;
}

.indicator__animation-to-left {
    animation: indicator--to-left .5s ease-in-out 0s alternate both;
}

@keyframes indicator--to-right {
    0% {
        margin-left: calc(var(--animation--tab-indicator__start) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__start) - 1rem);
    }
    25% {
        margin-left: calc(var(--animation--tab-indicator__start) - 1rem);
    }
    75% {
        margin-right: calc(100% - var(--animation--tab-indicator__end) - 1rem);
    }
    100% {
        margin-left: calc(var(--animation--tab-indicator__end) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__end) - 1rem);
    }
}

@keyframes indicator--to-left {
    0% {
        margin-left: calc(var(--animation--tab-indicator__start) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__start) - 1rem);
    }
    25% {
        margin-right: calc(100% - var(--animation--tab-indicator__start) - 1rem);
    }
    75% {
        margin-left: calc(var(--animation--tab-indicator__end) - 1rem);
    }
    100% {
        margin-left: calc(var(--animation--tab-indicator__end) - 1rem);
        margin-right: calc(100% - var(--animation--tab-indicator__end) - 1rem);
    }
}

/* search */

.search {
    margin: .5rem auto 0;
    max-width: 25rem;
    padding: 0 .5rem;
}

.search__input-container {
    width: 100%;
}

.search__input {
    width: calc(100% - 64px);
    text-align: center;
    border: none;
    outline: none;
    padding-left: 32px;
    padding-right: 32px;
}

.search .line--regular {
    height: var(--line-width);
    width: 100%;
    margin: auto;
    transition: width .3s ease-in-out, background-color .5s ease-in-out;
}

.search:focus-within .line--regular {
    width: var(--line-length);
    background-color: var(--accent-color);
}

.search__suggestions {
    margin-top: .5rem;
    display: none;
}

.options {
    text-align: center;
    position: absolute;
    z-index: 50;
    border: var(--line-width) solid var(--foreground-color--opaque);
    padding-right: var(--line-width);
    width: calc(25rem - 12px);
    backdrop-filter: var(--blur);
    background-color: var(--background-color--opaque);
    -webkit-backdrop-filter: var(--blur);
    max-width: calc(100vw - 2rem - 12px);
}

.search:focus-within .search__suggestions, .search__suggestions:active {
    display: flex;
}

.options .line--accent {
    flex-shrink: 0;
    width: var(--line-width);
    margin: auto 0;
    height: 0;
    background-color: var(--accent-color);
    transition: height .2s ease-in-out, background-color .5s ease-in-out;
}

.options:hover {
    background-color: var(--background-color--opaque);
}

.search__suggestion__text {
    text-align: center;
}

.option {
    padding: .5rem 0;
    width: 100%;
}

.option:hover .line--accent, .option--focus .line--accent {
    height: var(--line-length--vertical);
}

/* Footer */

footer {
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    background-color: var(--background-color--opaque);
    border-top: var(--line-width) solid var(--foreground-color--opaque);
    position: fixed;
    bottom: 0;
    padding: .5rem 1rem;
    z-index: 100;
    overflow-y: clip;
    text-align: center;
    align-items: center;
    min-width: 0;
    width: 100vw;
    box-sizing: border-box;
}

.footer__static-buttons, .footer__journey-buttons {
    width: fit-content;
}

.footer__info-panel {
    flex: 1 1 auto;
    min-width: 0;
    #footer__info-panel__origin, #footer__info-panel__destination {
        flex-basis: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #footer__info-panel__origin {
        text-align: right;
    }
    #footer__info-panel__destination {
        text-align: left;
    }
}

.footer__journey-buttons > :first-child {
    margin-left: auto;
}

footer:not(.valid-journey) .footer__info-panel, footer:not(.valid-journey) .footer__journey-buttons {
    visibility: hidden;
}

.modal {
    display: flex;
    position: fixed;
    top: 0;
    width: calc(100% - 1rem);
    height: 100%;
    padding: 0 .5rem;
    background-color: var(--background-color--opaque);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    z-index: 1000;
}

.modal--full-screen {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1001;
}

.modal--full-screen__title, .modal--full-screen__close {
    border-radius: var(--border-radius-large);
    border: var(--line-width) solid var(--foreground-color--opaque);
    background-color: var(--background-color--opaque);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
}

.modal--full-screen__title {
    position: fixed;
    z-index: 1002;
    left: 1.5rem;
    top: 1rem;
    padding: .5rem 1rem;
    font-size: 18px;
    text-align: left;
    &:hover {
        cursor: pointer;
    }
}

.modal--full-screen__close-container {
    position: fixed;
    top: .5rem;
    right: .5rem;
    z-index: 1002;
    gap: .5rem;
    :hover {
        cursor: pointer;
    }
}

.modal--full-screen__close {
    display: flex;
    padding: .5rem;
}

.modal-content {
    align-self: center;
    border: var(--line-width) solid var(--foreground-color--opaque);
    border-radius: var(--border-radius-large);
    background-color: var(--background-color);
    padding: 0 1.5rem 1rem;
    max-height: calc(100vh - 10rem);
    overflow-y: scroll;
}

.modal--full-screen .modal-content {
    max-height: unset;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.modal header {
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: var(--background-color--opaque);
    backdrop-filter: var(--blur);
    margin: 0 -1.5rem 0;
    padding: 1rem .5rem .5rem 1.5rem;
    align-items: center;
    gap: .5rem;
}

.modal__title {
    margin-right: auto;
}

.modal__title--clickable {
    padding: .5rem;
    text-align: left;
    margin-left: calc(-.5rem - var(--line-width));
}

.modal__close {
    padding: .5rem;
    line-height: 0;
    flex-shrink: 0;
    margin-top: -.5rem;
    align-self: start;
}

#toasts {
    width: 30rem;
    position: fixed;
    z-index: 1001;
    left: calc(50% - 15rem);
    bottom: 0;
}

[data-state=""] #toasts {
    bottom: 4.5rem;
}

.toast {
    margin: 1rem auto;
    max-width: calc(100vw - 2rem);
    backdrop-filter: var(--blur);
    animation: toast__fadein-animation .2s ease-out, toast__fadeout-animation .5s ease-in-out 2.5s both;
}

.toast__text {
    padding: .5rem;
    border: var(--line-width) solid var(--foreground-color--opaque);
    background-color: var(--background-color--opaque);
    border-radius: var(--border-radius-large);
    text-align: center;
}

.toast__line {
    width: calc(100% - 2 * var(--line-width));
    height: var(--line-width);
    margin: calc(-1 * var(--line-width)) auto 0;
    animation: toast__line-animation 3s ease-out 0s;
}

@keyframes toast__line-animation {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes toast__fadein-animation {
    0% {
        margin: 0 auto -2rem;
        opacity: 0;
    }
    100% {
        margin: 1rem auto;
        opacity: 1;
    }
}

@keyframes toast__fadeout-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media screen and (min-width: 1301px) {
    .modal {
        ::-webkit-scrollbar {
            background-color: transparent;
            width: var(--line-width);
            height: var(--line-width);
        }

        ::-webkit-scrollbar-thumb {
            border-radius: var(--border-radius-small);
            background-color: var(--foreground-color);
        }

        ::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }
}

@media screen and (max-width: 1300px) {

    :root {
        font-size: .8rem;
    }

    body, input, button, .tooltip:after {
        font-size: 16px;
    }
}

@media screen and (min-width: 1001px) {
    .mobile-only {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .flex-row-column {
        flex-direction: column;
    }

    .desktop-only {
        display: none;
    }

    .modal-content {
        margin: auto;
        width: 30rem;
    }
    .modal header {
        margin: 0 -1rem 0;
        padding: .5rem .5rem .5rem 1rem;
    }

    .modal--full-screen__title {
        top: .5rem;
        left: .5rem;
        max-width: calc(100% - 8rem);
        font-size: 16px;
    }

    .modal__close {
        margin-top: 0;
    }


    footer .selectable__text {
        padding: .5rem;
    }
}

