.search {
    margin: .5rem auto 0;
    max-width: 25rem;
    padding: 0 .5rem;
}

.search__input-container {
    width: 100%;
}

.search__input {
    width: calc(100% - 64px - 2rem);
    text-align: center;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    padding-left: calc(32px + 1rem);
    padding-right: calc(32px + 1rem);
}

.search .line--regular {
    height: var(--line-width);
    width: 100%;
    margin: auto;
    transition: width .3s ease-in-out, background-color .5s ease-in-out;
}

.search:focus-within .line--regular {
    width: var(--line-length);
    background-color: var(--accent-color);
}

.search__suggestions {
    margin-top: .5rem;
    display: none;
}

#inputs {
    position: sticky;
    left: 1.5rem;
    z-index: 50;
    width: calc(100vw - 3rem);
}

.station-inputs {
    align-items: center;
}

.search__icon {
    align-self: center;
    --product-color: var(--accent-color);
    text-align: center;
}

.search__icon:first-child {
    width: 32px;
    margin-right: -32px;
}

.search__icon:last-child {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: -2.5rem;
    padding: .5rem;
}

.search__icon--from .station-circle--big {
    margin-left: 6px;
}

.search__icon--to .station-circle--big {
    margin-right: 6px;
}

.options {
    text-align: center;
    position: absolute;
    z-index: 50;
    border: var(--line-width) solid var(--foreground-color--opaque);
    width: calc(25rem - 2 * var(--line-width));
    backdrop-filter: var(--blur);
    background-color: var(--background-color--opaque);
    -webkit-backdrop-filter: var(--blur);
    max-width: calc(100vw - 2rem - 12px);
}

.search:focus-within .search__suggestions, .search__suggestions:active {
    display: flex;
}

.options .line--accent {
    flex-shrink: 0;
    width: var(--line-width);
    margin: auto 0 auto calc(-1 * var(--line-width));
    height: 0;
    background-color: var(--accent-color);
    transition: height .2s ease-in-out, background-color .5s ease-in-out;
}

.option__icon {
    margin: auto .5rem;
    > svg {
        display: none;
    }
}

.options:hover {
    background-color: var(--background-color--opaque);
}

.search__suggestion__text {
    text-align: center;
}

.option {
    width: 100%;
}

.option:hover, .option--focus {
    .line--accent {
        height: var(--line-length--vertical);
    }
    --product-color: var(--accent-color);
}

.option__text {
    padding-right: calc(16px + 1rem);
}

.arrow {
    margin: auto;
}