#station-names-container {
    position: sticky;
    top: 0;
    z-index: 1;
}

#station-names {
    align-items: end;
    padding-top: .5rem;
    background-color: var(--background-color--opaque);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
}

.station-name-container {
    width: var(--connection-width);
    margin-top: auto;
    flex-shrink: 0;
    text-align: center;
    --product-color: var(--foreground-color);
    .station-circle--small {
        margin: .5rem auto -4px;
    }
    .station-circle--big {
        display: none;
    }
}

.station--selected, .station--selected + .station-name-container {
    --product-color: var(--accent-color);
}

.station-name__name {
    padding: 0 .5rem;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.station-name__line-container {
    height: calc(24px + 2 * var(--line-width));
    margin: 0 calc(var(--connection-width) / -2) 0 calc(var(--connection-width) / 2);
    .station-name__connector {
        width: 100%;
        margin-left: -16px;
        visibility: hidden;
    }
    .station-name__connector__stopover {
        width: 100%;
    }
    .station-name__connector__stopover:first-child .station-icon-container {
        visibility: hidden;
    }
    .station-name__connector__line-container {
        align-self: center;
        margin-left: -16px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .station-icon-container {
        display: none;
        margin-left: -16px;
        padding: 4px;
        border-radius: 100%;
        z-index: 1;
        position: relative;
        cursor: pointer;
    }
    .mini-icon-overlay {
        display: none;
    }
    .station-icon-container--via:hover {
        svg {
            --product-color: var(--foreground-color);
        }
        .mini-icon-overlay {
            display: block;
        }
    }
    .station-icon-container--stopover:hover {
        svg {
            --foreground-color: var(--accent-color);
        }
    }
    .station-icon--major, .station-icon--minor {
        margin-left: 0;
        display: none;
    }
}

.station--selected {
    .line--accent {
        width: 100%;
    }
    .station-icon--minor {
        display: block;
    }
}

.station-name__durations {
    margin: 0 calc(var(--connection-width) / -2) 0 calc(var(--connection-width) / 2);
    z-index: 1;
}

.station-name__durations i, .station-name__durations span {
    margin: auto;
}

.station-name__durations__wait-container {
    margin-left: -3em;
    width: 6em;
    flex-shrink: 0;
    > * {
        display: none;
    }
}

.station-name__durations__leg-container {
    margin-right: 3em;
    width: 100%;
    visibility: hidden;
}

.station--selected {
    .station-name__durations__leg-container {
        display: inline;
    }
}

.station--selected + .station--selected {
    .station-name__durations__wait {
        display: inline;
    }
}

.station--selected .station-icon-container, .station--selected + * .station-icon-container {
    display: flex;
}

:not(.station--selected) + .station--selected, .station--selected + :not(.station--selected) {
    .station-icon--major {
        display: block;
    }
    .station-icon--minor {
        display: none;
    }
}

.station--selected:first-child {
    .station-icon--major {
        display: block;
    }
    .station-icon--minor {
        display: none;
    }
}

:not(.station--selected) + .station--selected .station-name__durations__departure, .station--selected:first-child .station-name__durations__departure {
    display: inline;
}

.station--selected + :not(.station--selected) .station-name__durations__arrival {
    display: inline;
}

.station--selected .station-name__durations__leg-container, .station--selected .station-name__connector {
    visibility: visible;
}

.station-name-container:first-child {
    width: calc(var(--connection-width) / 2);
    .station-name__name {
        text-align: left;
    }
    .station-name__line-container {
        margin: 0 calc(var(--connection-width) / -2) 0 1.5em;
    }
    .station-name__durations {
        margin: 0 calc(var(--connection-width) / -2) 0 0;
    }
    .station-name__durations__wait-container {
        margin-left: 0;
        width: 3em;
    }
}

.station-name-container:nth-last-child(2) {
    .station-name__line-container {
        margin: 0 calc(var(--connection-width) / -2 + 1.5em) 0 calc(var(--connection-width) / 2);
    }
}

.station-name-container:first-child:nth-last-child(2) .station-name__line-container {
    margin: 0 calc(var(--connection-width) / -2 + 1.5em) 0 1.5em;
}

.station-name-container:last-child {
    width: calc(var(--connection-width) / 2);
    .station-name__name {
        text-align: right;
    }
    .station-name__connector {
        display: none;
    }
    .station-name__line-container {
        margin: 0 calc(1.5em - 16px) 0 auto;
    }
    .station-name__durations {
        margin: 0;
    }
    .station-name__durations__wait-container {
        margin-left: auto;
        width: 3em;
    }
    .station-name__durations__leg-container {
        margin: 0;
        width: 0;
        overflow-x: clip;
    }
}

.station-name-container:first-child, .station-name-container:last-child {
    .station-name__name {
        padding: 0;
        border: none;
    }

    .station-icon-container--via:hover, .station-name__name:hover {
        background-color: transparent;
        border-color: transparent;
        cursor: unset;
        svg {
            --product-color: inherit;
            --foreground-color: inherit;
        }
        .mini-icon-overlay {
            display: none;
        }
    }
}

.station-name-container:not(:first-child, :last-child) {
    .station-name__name {
        margin: 0 auto calc(-1 * var(--line-width));
        width: fit-content;
    }
    .station-name__name:hover {
        text-decoration: line-through;
        color: var(--accent-red);
    }
}


@media screen and (min-width: 1001px) {
    #station-names-container {
        top: 5rem;
    }
}
