.modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    z-index: 50;
    overflow-y: scroll;
}

[data-state="settings"] #settings-modal {
    display: flex;
}

[data-state="about"] #about-modal {
    display: flex;
}

[data-state="journey"] #connection-leaflet-subpage {
    display: grid;
}

[data-state="journey/map"] #connection-leaflet-subpage {
    display: grid;
}

.modal--full-screen {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.modal--full-screen__title, .modal--full-screen__action {
    border-radius: var(--border-radius-large);
    border: var(--line-width) solid var(--foreground-color--opaque);
    background-color: var(--background-color--opaque);
    padding: .5rem;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
}

.modal--full-screen__title, .modal--full-screen__actions-container {
    position: fixed;
    z-index: 1002;
    top: calc(1rem - var(--line-width));
}

.modal--full-screen__title {
    text-align: left;
    max-width: calc(100% - 10rem);
    left: calc(1rem - var(--line-width));
}

.modal--full-screen__actions-container {
    right: calc(1rem - var(--line-width));
    gap: .5rem;
    :hover {
        cursor: pointer;
    }
}

.modal-content {
    padding: 0 1.5rem calc(4.5rem + max(.5rem, env(safe-area-inset-bottom)));
}

.modal--full-screen .modal-content {
    max-height: unset;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.modal header {
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: var(--background-color--opaque);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    margin: 0 -1.5rem 0;
    padding: 1rem .5rem .5rem 1.5rem;
    align-items: start;
    gap: .5rem;
}

.modal__title {
    margin-right: auto;
}

.subpage__button {
    padding: .5rem;
    margin-top: calc(-1 * var(--line-width));
    line-height: 0;
    flex-shrink: 0;
    &:last-child {
        margin-right: calc(-1 * var(--line-width));
    }
}

@media screen and (min-width: 1001px) {
    .modal {
        margin-top: 5rem;
        height: calc(100vh - 5rem);
    }

    .modal-content {
        padding-bottom: 0;
    }

    #connection-subpage {
        border-right: var(--border);
    }
}

@media screen and (max-width: 1000px) {
    .modal header {
        margin: 0 min(-1.5rem, 28.5rem - 50vw) .5rem;
        padding: 1rem max(1rem, 50vw - 29rem) .5rem max(1.5rem, 50vw - 28.5rem);
        border-bottom: var(--border);
        width: 100vw;
        box-sizing: border-box;
    }

    .subpage__button {
        margin-top: calc(-1 * var(--line-width));
    }
}